body {
    background-image: url('../img/tummatausta.jpg');
}

/*navbar*/
/*navbar levitettynä*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0daae;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /*navbar headeri*/
  #navbar-header {
    color: #482e1d;
    margin-left: 30px;
  }
  
  /*linkit navbarinv sisällä*/
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #482e1d;
    display: block;
    transition: 0.3s;
  }
  
  /*linkki hover*/
  .sidenav a:hover {
    color: #895d2b;
  }
  
  /*navbar ruksi nappi*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /*navbar nappi*/
  span {
    color: bisque;
    margin-left: 10px;
  }
  
  /*Pienemmille ruuduille: Jos ruutu on pienempi kuin 450px, muuta navbarin tyyliä (ja pienempi fontti koko) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*navbar*/

  /*fontti*/
  @font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }

* {
  font-family: "Inter";
}

.kaikki {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 75vh;
}

p, h2 {
  text-align: center;
  opacity: 1;
}

#container {
    background-color: #482E1D;
    padding: 50px;
    color: bisque;
    border-radius: 7px;
    max-width: 30em;
    opacity: 0.8;
}

/*seuraava button*/
button {
  position: relative;
  top: 1em;
  left: 38%;
  bottom: 3.5em;
  font-size: 16px;
  width: 7em;
  height: 3em;
  border-radius: 7px;
  border: 1px solid #F0DAAE;
  background-color: #F0DAAE;
  color: #482E1D;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 600;
  opacity: 1;
}

button:hover {
font-weight: bold;
color: #F3EAD9;
background-color: #5d3e29;
border: 1px solid #5d3e29;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/*footer*/
.footer {
    background-color:  #482E1D;
    color:bisque;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    padding-left: 0.5em;
    height: 3em;
    opacity: 0.9;
    }
    
    .logot {
    position: fixed;
    right: 1em;
    }
    
    .bi-youtube {
      color: bisque;
    }
    
    .bi-instagram {
    margin-right: 0.3em;
    color: bisque;
    
    }
    
    .bi-linkedin {
      color: bisque;
    }

    .bi-c-circle {
      opacity: 0.6;
    }

    b {
      opacity: 0.6;
    }
/*footer*/