/*navbar*/
/*navbar levitettynä*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f0daae;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

/*navbar headeri*/
#navbar-header {
  font-size: 25px;
  font-weight: bold;
  color: #482e1d;
  margin-left: 15px;
}

/*linkit navbarin sisällä*/
.sidenav a {
  padding: 4px 8px 8px 22px;
  margin-top: 0.5em;
  text-decoration: none;
  font-size: 24px;
  color: #482e1d;
  display: block;
  transition: 0.3s;
  text-align: left;
}

/*linkki hover*/
.sidenav a:hover {
  color: #895d2b;
}

/*navbar ruksi nappi*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*navbar nappi*/
#function {
  color: bisque;
  margin-left: 10px;
}

/*Pienemmille ruuduille: Jos ruutu on pienempi kuin 450px, muuta navbarin tyyliä (ja pienempi fontti koko) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*navbar*/

/*fontti*/
@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

body {
  background-image: url('../img/tummatausta.jpg');
}

* {
  font-family: "Inter";
}

.kaikki {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 75vh;
}

#teksti, #h2, #h5 {
  text-align: center;
  opacity: 1;
}

.content {
    background-color: #482E1D;
    padding: 50px;
    color: bisque;
    border-radius: 7px;
    max-width: 30em;
    opacity: 0.8;
    border-radius: 9px;
}


/*footer*/
.footer {
    background-color:  #482E1D;
    color:bisque;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    padding-left: 0.5em;
    height: 4em;
    opacity: 0.9;
    }
    
    .logot {
    position: fixed;
    right: 1em;
    }
    
    .bi-youtube {
      color: bisque;
    }
    
    .bi-instagram {
    margin-right: 0.3em;
    color: bisque;
    
    }
    
    .bi-linkedin {
      color: bisque;
    }

    .bi-c-circle {
      opacity: 0.6;
    }

    b {
      opacity: 0.6;
    }
/*footer*/