body {
    background-image: url(../img/etusivun\ pavut.png);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.content {
    background-color: #f0daae;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 2em;
}

.footer {
  background-color: #f0daae;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-left: 0.5em;
  text-align: start;
  height: 5em;
}

p.footer {
    
}