/*navbar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0daae;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  #navbar-header {
    color: #482e1d;
    margin-left: 30px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #482e1d;
    display: block;
    transition: 0.3s;
  }


.sidenav a:hover {
    color: #895d2b;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  span {
    color: #482e1d;
  }
  
  /*Pienemmille ruuduille: Jos ruutu on pienempi kuin 450px, muuta navbarin tyyliä (ja pienempi fontti koko) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*navbar*/

body{
  background-image: url(../img/tummatausta.jpg);
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: rgb(72, 56, 23);
    background-color: rgb(197, 174, 112);
}

#viesti {
  background-color: #f0daae;
  
}