/*navbar*/
/*navbar levitettynä*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0daae;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /*navbar headeri*/
  #navbar-header {
    color: #482e1d;
    margin-left: 30px;
  }
  
  /*linkit navbarinv sisällä*/
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #482e1d;
    display: block;
    transition: 0.3s;
  }
  
  /*linkki hover*/
  .sidenav a:hover {
    color: #895d2b;
  }
  
  /*navbar ruksi nappi*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /*navbar nappi*/
  #mennu {
    color: #895d2b;
    margin-left: 10px;
  }
  
  /*Pienemmille ruuduille: Jos ruutu on pienempi kuin 450px, muuta navbarin tyyliä (ja pienempi fontti koko) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*navbar*/

  body {
    background-image: url(../img/syksy_2.png);
    background-size: cover;
    background-attachment: fixed;
  }

  .content {
    background-color: #895d2b;
    width: fit-content;
    margin: 0 auto;
    margin-top: 4em;
    padding: 1em;
    border-radius: 15px;
  }

  #nextpage {
    text-decoration: none;
  }

  #seuraava {
    display: block;
    margin: 20px auto 0;
    font-size: 16px;
    height: 3em;
    border-radius: 7px;
    border: 1px solid #F0DAAE;
    background-color: #F0DAAE;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
  }

  #seuraava:hover {
    font-weight: bold;
    color: #F3EAD9;
    background-color: #482E1D;
    border: 1px solid #482E1D;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  #yksisentti {
    text-decoration: none;
    background-color: #f0daae;
    cursor: pointer;
    font-weight: 600;
  }

  #pienta {
    text-decoration: none;
    background-color: #f0daae;
    cursor: pointer;
    font-weight: 600;
  }

  #kuusikymmenta {
    text-decoration: none;
    background-color: #f0daae;
    cursor: pointer;
    font-weight: 600;
  }

  #tarkista {
    font-size: 16px;
    width: 5em;
    height: 2em;
    border-radius: 7px;
    border: 1px solid #F0DAAE;
    background-color: #F0DAAE;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
  }

  #tarkista:hover {
    font-weight: bold;
    color: #F3EAD9;
    background-color: #482E1D;
    border: 1px solid #482E1D;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  #score {
    font-weight: 600;
  }
