* {
    margin:0;
    padding: 0;
}

.container {
    background-color: #F0DAAE;
    margin-top: 2.5em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 36em;
    width: 30em;
}

body {
    background-image: url(../img/syksy_1.jpg);
    background-size: cover;
    background-position: center;
}

img {
    width: 16em;
    margin-top: 1.5em;

}

p {
    font-size: 28px;
    margin-top: 2em;
    text-align: center;
}

#buttons {
    display: flex;  
    flex-wrap: wrap; 
    padding: 2em;
    padding-left: 5em;
}

.button{
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 20px;
    width: 7em;
    height: 3.5em;
    border-radius: 7px;
    border: 1px solid #c2b599;
    background-color: #F3EAD9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #482E1D;
}

#buttons .button:hover {
    background-color: #faf3e0;
    font-weight: bold;
    color: #895D2B;
}

.seuraava {
    position: fixed;
    bottom: 25px;
    right: 20px;
    left: 60em;
    font-size: 16px;
    width: 6em;
    height: 2em;
    border-radius: 7px;
    border: 1px solid #f4f4f4;
    background-color: #fff1d4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.seuraava:hover {
    background-color: #efdcb5;
    border: 2px solid #c2b599;
}

/* Responsiivisuus puhelimelle */
@media screen and (max-width: 767px) {
    .container {
        margin: 2em 1em;
        width: auto;
    }

    .seuraava{
        margin-left: 13em;
        margin-bottom: 2em;
    }
}

