/*navbar*/
/*navbar levitettynä*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0daae;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /*navbar headeri*/
  #navbar-header {
    color: #482e1d;
    margin-left: 30px;
  }
  
  /*linkit navbarinv sisällä*/
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #482e1d;
    display: block;
    transition: 0.3s;
  }
  
  /*linkki hover*/
  .sidenav a:hover {
    color: #895d2b;
  }
  
  /*navbar ruksi nappi*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /*navbar nappi*/
  span {
    color: #482e1d;
    margin-left: 10px;
  }
  
  /*Pienemmille ruuduille: Jos ruutu on pienempi kuin 450px, muuta navbarin tyyliä (ja pienempi fontti koko) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*navbar*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*laatikko*/
.container {
    background-color: #F0DAAE;
    margin-top: 2.5em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 36em;
    width: 30em;
}

/*taustakuva*/
body {
    background-image: url(../img/sykystestit.jpg);
    max-height: 800;
    background-size: cover;
    background-position: center;
}

img {
    width: 16em;
    margin-top: 1.5em;
    border-radius: 12px;
}

p {
    font-size: 28px;
    margin-top: 2em;
    text-align: center;
}

/*vastaus buttons*/
#buttons {
    display: flex;  
    flex-wrap: wrap; 
    padding: 2em;
    padding-left: 5em;
}

.btn{
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 20px;
    width: 7em;
    height: 3.5em;
    border-radius: 7px;
    border: 1px solid #F3EAD9;
    background-color: #F3EAD9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #482E1D;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

#buttons .btn:hover:not([disabled]) {
    font-weight: bold;
    background-color: #482e1d;
    border: 1px solid #482e1d;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    color:#F0DAAE;
}

/*seuraava button*/
#seuraava {
    position: relative;
    left: 70%;
    bottom: 3.5em;
    font-size: 16px;
    width: 7em;
    height: 3em;
    border-radius: 7px;
    border: 1px solid #f4f4f4;
    background-color: #fff1d4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#seuraava:hover {
  font-weight: bold;
  color: #F3EAD9;
  background-color: #482E1D;
  border: 1px solid #482E1D;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/*oikein & väärin buttons*/
.correct {
  background-color: #0C6B37;
  border: 1px solid #0C6B37;
  color: #F3EAD9;
}

.incorrect {
  background-color: #BC2023;
  border: 1px solid #BC2023;
  color: #F3EAD9;
}

/* Responsiivisuus */
@media screen and (max-width: 1536px){
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1280px){
  .container {
    max-width: 1024px;
  }

  #seuraava {
    left: 75%;
  }
}

@media screen and (max-width: 1024px){
  .container {
    max-width: 768px;
  }

  #seuraava {
    left: 82%;
  }
}

@media screen and (max-width: 768px){
  .container {
    max-width: 640px;
  }

  #seuraava {
    margin: 1em;
    bottom: 0.4em;
    left: 40%;

    font-size: 16px;
    width: 6em;
    height: 3em;
    border-radius: 5px;
  }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    p{
      font-size: 24px;
      margin-top: 2em;
      text-align: center;
    }

    img {
      width: 14em;
      margin-top: 1.5em;
      border-radius: 12px;
  }

  .btn {
    font-size: 18px;
    width: 7em;
    height: 4em;
    border-radius: 6px;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #buttons {
    padding-left: 6em;
}
}

@media screen and (max-width: 475px){
  .container{
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 34em;
    width: auto;
}

.btn {
  font-size: 16px;
  width: 6em;
  height: 3em;
  border-radius: 6px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#buttons {
  padding-left: 7.5em;
}
  }


