/*tausta*/
body {
  background: url(../img/taustaMS.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*navbar*/
/*navbar levitettynä*/

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e7d0ac;
    overflow-x: hidden;
    transition: 0.5s;
	box-shadow: 10px 0 5px -2px #a1857126;
  }
  
  /*navbar headeri*/
  #navbar-header {
    color: #482e1d;
    margin-left: 30px;
	margin-top: 50px;
  }
  
  /*linkit navbarinv sisällä*/
  .sidenav a {
	margin-top: 30px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #482e1d;
    display: block;
    transition: 0.3s;
  }
  
  /*linkki hover*/
  .sidenav a:hover {
    color: #895d2b;
  }
  
  /*navbar ruksi nappi*/
  .sidenav .closebtn {
    position: absolute;
    margin: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /*navbar nappi*/
  #openNav {
    color: #fde8cfa7;
    margin-left: 10px;
  }
  
  /*Pienemmille ruuduille: Jos ruutu on pienempi kuin 450px, muuta navbarin tyyliä (ja pienempi fontti koko) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*navbar*/
  
* {
    margin:0;
    padding: 0;
	font-family: "Inter";
}

.container {
    background-color: #e7d0ac;
    margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
    padding: 0.5em;
    padding-top: 2em;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center; 
    width: 35em;
	height: fit-content;
	transition: all 0.5s ease-in-out;
}

span {
    font-size: 30px;
    text-align: center;
	max-width: 100%;
}

#juoma {
	font-size: 30px;
	max-width: 100%;
}

#kuva {
	margin-top: 20px;
	max-width: 250px;
	border-radius: 10px;
	box-shadow: 0 0 10px 4px #cb9777d8;
}

.list {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px 0;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%;
}

.list_item {
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  will-change: transform;
  background: #F3EAD9;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px #6749375b, 0 2px 4px -2px #F3EAD9;
  font-weight: 500;
  font-size: 20px;
}

.drag-handle {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-handle::after {
  content: '⠿';
  font-size: 25px;
  color: #baa989;
}

.list_item.is-idle {
  transition: 0.25s ease transform;
}

.list_item.is-idle .list_drag-handle {
  cursor: grab;
}

.list_item.is-draggable,
.list_item.is-draggable .drag-handle {
  cursor: grabbing;
}

.list_item.is-draggable {
  z-index: 10;
}

.seuraava:hover {
    background-color: #F3EAD9;
    border: 2px solid #6749375b;
}

#viesti {
	margin-top: 10px;
	font-size: 30;
}

/*fontti*/
@font-face {
	font-family: "Inter";
	src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }

/* Responsiivisuus puhelimelle */
@media screen and (max-width: 767px) {
    .container {
        margin: 2em 1em;
        width: auto;
    }

    .seuraava{
        margin-left: 13em;
        margin-bottom: 2em;
    }
}

.seuraava {
  margin: 30px;
  font-size: 16px;
  width: 6em;
  height: 2em;
  border-radius: 7px;
  border: 1px solid #f4f4f4;
  background-color: #fff1d4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centerWrapper {
  text-align: center;
  justify-content: center; 
  width: 100%;
  margin: auto;
}